
.gamma{
    .gmm-vrs{
        width: 40%;
        height: 50px;
        line-height: 50px; //este ayuda a centrar verticalmente con el tamanio total del height
        text-align: center;
        font-size: 20px;
        background-color: $cWht;
        color: $cSrv2;
        margin-top: 20px;

    }
    .time-cost{
        margin-top: 20px;
        
    }
}