@import "../components/colors";

@import "gamma";
@import "HdCst"; //header and cost
@import "lstBtn"; //list and button


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    .container-Precio{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;
        height: 750px;
        .c-box{ //container box
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 25%;
            height: 90%;
            background-color: $cSrv1;
            color:white;
            
        }.c-box:nth-child(n+2){
            margin-left: -350px;
        }
    }
}