@import "components/bloque1";
@import "components/bloque2";
@import "components/bloque3";
@import "components/bloque4";
@import "components/bloque5";
@import "components/bloque9";
@import "components/colors";
@import "components/size";
@import "components/bloqueApp";
@import "components/_bloque-doce";
@import "components/carousel";
@import "components/bloque-seg-ind";
@import "components/bloque-videoOpinion";
@import "components/footer";

*{
    padding: 0;
    margin: auto;
    text-decoration: none;
    box-sizing: border-box;
}

body::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 4px;
}
body{
    font-family: 'Montserrat', sans-serif;
    .container-l{
        max-width:1550px;
        width: 100%;
        min-height: 100vh;
        background-image: url("img/WhatsApp\ Video\ 2021-10-22\ at\ 13.46.07.gif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: 100%;
        background-size: 100%;
        .Lyk-comm-header{
            display: flex;
            align-items: flex-end;
            height: 140px;
            @import "components/LykCommNav";
        }
    }  
}
.container-l::before{
    width: 100%;
    position: absolute;
    min-height: 100vh;
    max-width: 1550px;
    background-image: linear-gradient(90deg,$cSrv1,$cSrv1);
    
}
