.bloque1 {
  height: 599px;
}

.bloque1 .bloq-bl1 {
  width: 100%;
  color: white;
}

.bloque1 .bloq-bl1 .u-list {
  padding-top: 120px;
  padding-left: 00;
  text-align: center;
  width: 90%;
  height: 100%;
  font-size: 30px;
}

.bloque1 .bloq-bl1 .u-list .bloq-bl1-title {
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 6px;
  text-shadow: 0px 5px black;
}

.bloque1 .bloq-bl1 .u-list .u-li-parr {
  letter-spacing: 3px;
  font-size: 50px;
  text-shadow: 0px 3px black;
}

.bloque1 .bloq-bl1 .u-list .bl1-click {
  width: auto;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid #EEB007;
  background: #EEB007;
  color: #041E41;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bloque1 .bloq-bl1 .u-list .bl1-click:hover {
  background: #041E41;
  color: #fff;
  border: 1px solid #041E41;
}

.bloque1 .bloq-bl1 .u-list .button-mid {
  display: none;
}

@media (max-width: 1107px) {
  .bloque1 {
    height: 530px;
  }
  .bloque1 .bloq-bl1 .u-list .bloq-bl1-title {
    font-size: 75px;
  }
  .bloque1 .bloq-bl1 .u-list .u-li-parr {
    font-size: 38px;
  }
  .bloque1 .bloq-bl1 .u-list .bl1-click {
    font-size: 20px;
  }
}

@media (max-width: 946px) {
  .bloque1 {
    height: 430px;
  }
  .bloque1 .bloq-bl1 .u-list {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 70px;
  }
  .bloque1 .bloq-bl1 .u-list .bloq-bl1-title {
    font-size: 59px;
  }
  .bloque1 .bloq-bl1 .u-list .u-li-parr {
    font-size: 26px;
  }
}

@media (max-width: 749px) {
  .bloque1 {
    height: 460px;
  }
  .bloque1 .bloq-bl1 {
    height: auto;
  }
  .bloque1 .bloq-bl1 .u-list {
    padding-top: 105px;
  }
  .bloque1 .bloq-bl1 .u-list .bloq-bl1-title {
    font-size: 45px;
  }
  .bloque1 .bloq-bl1 .u-list .u-li-parr {
    font-size: 19px;
    height: 40px;
  }
  .bloque1 .bloq-bl1 .u-list .bl1-click {
    font-size: 18px;
    padding: 6px 9px;
  }
}

@media (max-width: 565px) {
  .bloque1 {
    height: 520px;
  }
}

.bloque2 {
  width: 100%;
  height: 550px;
  background: #041E41;
  overflow: hidden;
}

.bloque2 .blq2-txt {
  color: #ffffff;
  width: 100%;
  text-align: center;
  text-shadow: 0px 3px black;
  font-size: 40px;
  padding-top: 3%;
}

.bloque2 .blq2-txt .Ylltxt {
  color: #EEB007;
}

.bloque2 .blq2-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: 300px;
  margin-top: 3%;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 50px;
}

.bloque2 .bl2-shape,
.bloque2 .bl2w-shape {
  width: 300px;
  height: 300px;
  border: 2px solid #f3c035;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -200px;
  margin-left: -140px;
}

.bloque2 .shp-1 {
  margin-top: -600px;
  margin-left: 93%;
}

.bloque2 .shp-2 {
  border: 2px solid #ffffff;
  margin-top: 15%;
  margin-left: -4%;
}

.bloque2 .shp-3 {
  border: 2px solid #ffffff;
  margin-top: -50%;
  margin-left: 92%;
}

@media (max-width: 813px) {
  .bloque2 .blq2-txt {
    font-size: 33px;
  }
}

@media (max-width: 592px) {
  .bloque2 .blq2-txt {
    margin-top: 40px;
    font-size: 25px;
  }
  .bloque2 .blq2-video {
    margin-top: 50px;
    width: 400px;
    height: 240px;
  }
}

@media (max-width: 456px) {
  .bloque2 .blq2-txt {
    margin-top: 60px;
    font-size: 20px;
  }
  .bloque2 .blq2-video {
    margin-top: 70px;
    width: 350px;
    height: 210px;
  }
}

.bloque3 {
  height: 750px;
  background-image: url("img/Cambiar_la_vida_de_una_persona_fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1550px;
  overflow: hidden;
  padding: 0%;
}

.bloque3 .blq3-ctner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  color: white;
}

.bloque3 .blq3-ctner div {
  width: 100%;
}

.bloque3 .blq3-ctner div .bq3-lst {
  width: 100%;
  line-height: 25px;
  border-left: 25px solid #EEB007;
  margin-left: 15%;
  margin-top: 9%;
  margin-right: 0%;
  padding-left: 1%;
  text-shadow: 0px 5px black;
  letter-spacing: 2px;
}

.bloque3 .blq3-ctner div .bq3-lst h1 {
  font-size: 70px;
  padding-left: 10px;
}

.bloque3 .blq3-ctner div .bq3-lst h2 {
  font-size: 40px;
  font-weight: bolder;
  padding-left: 10px;
}

.bloque3 .blq3-ctner div .bq3-lst h2 strong {
  font-weight: bolder;
}

.bloque3 .blq3-ctner div div {
  width: 100%;
  text-align: center;
  margin-top: 8%;
}

.bloque3 .blq3-ctner div div .bq3-lst-lk {
  width: auto;
  border-radius: 5px;
  background-color: #EEB007;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: #041E41;
  border: #EEB007;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.bloque3 .blq3-ctner div div .bq3-lst-lk:hover {
  background: #041E41;
  border: 1px solid #041E41;
  color: #fff;
}

.bloque3 .blq3-ctner .bq3-sp {
  letter-spacing: 2px;
  width: 100%;
  margin-left: 100px;
  margin-top: 29%;
}

.bloque3 .blq3-ctner .bq3-sp h2 {
  width: auto;
  text-shadow: 0px 5px black;
}

.bloque3 .blq3-ctner .bq3-sp p {
  width: auto;
  font-size: 19px;
}

.bloque3 .blq3-ctner .no-sight {
  width: 100%;
  margin-top: 6%;
  margin-left: 0%;
  margin-bottom: 7%;
  text-align: center;
  display: none;
}

.bloque3 .blq3-ctner .no-sight button {
  width: auto;
  border-radius: 5px;
  background-color: #EEB007;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: #041E41;
  font-size: 21px;
  font-weight: bold;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.bloque3 .blq3-ctner .no-sight button:hover {
  background: #041E41;
  border: 1px solid #041E41;
  color: #fff;
}

@media (max-width: 1260px) {
  .bloque3 {
    height: 650px;
  }
  .bloque3 .blq3-ctner div .bq3-lst {
    margin-left: 10%;
  }
  .bloque3 .blq3-ctner div .bq3-lst h1 {
    font-size: 59px;
  }
  .bloque3 .blq3-ctner div .bq3-lst h2 {
    font-size: 30px;
  }
  .bloque3 .blq3-ctner div div .bq3-lst-lk {
    font-size: 20px;
  }
  .bloque3 .blq3-ctner .bq3-sp {
    margin-left: 40px;
    letter-spacing: 0px;
  }
  .bloque3 .blq3-ctner .bq3-sp h2 {
    margin-bottom: 0px;
  }
}

@media (max-width: 1055px) {
  .bloque3 .blq3-ctner .bq3-sp {
    margin-left: 60px;
  }
}

@media (max-width: 968px) {
  .bloque3 {
    height: auto;
    background-position-x: 50%;
  }
  .bloque3 .blq3-ctner {
    display: block;
  }
  .bloque3 .blq3-ctner div {
    margin-top: 10%;
    margin-left: 28%;
  }
  .bloque3 .blq3-ctner div .bq3-lst {
    margin: 0%;
    border-left: 13px solid #EEB007;
  }
  .bloque3 .blq3-ctner div div {
    display: none;
  }
  .bloque3 .blq3-ctner .bq3-sp {
    margin-top: 7%;
    margin-left: 27%;
  }
  .bloque3 .blq3-ctner .no-sight {
    display: block;
  }
}

@media (max-width: 801px) {
  .bloque3 .blq3-ctner div {
    margin-left: 25%;
    width: auto;
  }
  .bloque3 .blq3-ctner div .bq3-lst {
    width: auto;
  }
  .bloque3 .blq3-ctner div .bq3-lst h1 {
    font-size: 49px;
  }
  .bloque3 .blq3-ctner div .bq3-lst h2 {
    font-size: 20px;
  }
  .bloque3 .blq3-ctner .bq3-sp {
    margin-left: 21%;
    width: auto;
  }
  .bloque3 .blq3-ctner .no-sight button {
    padding: 3px 10px;
    font-size: 18px;
  }
}

@media (max-width: 664px) {
  .bloque3 .blq3-ctner div {
    margin-left: 21%;
  }
  .bloque3 .blq3-ctner .bq3-sp {
    margin-left: 17%;
  }
}

@media (max-width: 519px) {
  .bloque3 .blq3-ctner div {
    margin-left: 19%;
  }
  .bloque3 .blq3-ctner div .bq3-lst {
    width: auto;
  }
  .bloque3 .blq3-ctner div .bq3-lst h1 {
    width: auto;
    font-size: 37px;
  }
  .bloque3 .blq3-ctner div .bq3-lst h2 {
    width: auto;
    font-size: 15px;
  }
  .bloque3 .blq3-ctner .bq3-sp {
    margin-left: 15%;
  }
  .bloque3 .blq3-ctner .bq3-sp p {
    font-size: 15px;
  }
}

@media (max-width: 446px) {
  .bloque3 .blq3-ctner div {
    margin-left: 13%;
  }
  .bloque3 .blq3-ctner div .bq3-lst {
    width: auto;
  }
  .bloque3 .blq3-ctner div .bq3-lst h1 {
    width: auto;
    font-size: 37px;
  }
  .bloque3 .blq3-ctner div .bq3-lst h2 {
    width: auto;
    font-size: 15px;
  }
  .bloque3 .blq3-ctner .bq3-sp {
    margin-left: 12%;
  }
  .bloque3 .blq3-ctner .bq3-sp p {
    font-size: 15px;
  }
}

@media (max-width: 405px) {
  .bloque3 .blq3-ctner div {
    margin-left: 10%;
  }
  .bloque3 .blq3-ctner .bq3-sp {
    margin-left: 10%;
  }
}

h1 {
  text-align: center;
}

.bloque4 {
  width: 100%;
  height: auto;
  background: #fff;
  overflow: hidden;
}

.bloque4 .bq4-h {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0px;
}

.bloque4 .bq4-body {
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 50px;
}

.bloque4 .bq4-body .bq4-contr {
  width: 50%;
  color: #041E41;
  height: auto;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 45px;
}

.bloque4 .bq4-body .bq4-contr .bq4-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  color: #041E41;
  border-radius: 999px;
  border: 1px solid #041E41;
  position: absolute;
  margin-top: 0%;
  margin-left: 12%;
}

.bloque4 .bq4-body .bq4-contr p {
  font-weight: bold;
  letter-spacing: 1px;
}

.bloque4 .bq4-body .bq4-contr .bq4-contrato {
  width: 100px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.bloque4 .bq4-body .bq4-contr .bq4-contrato:hover {
  width: 135px;
}

.bloque4 .bq4-body .bq4-contr #pp {
  width: 113px;
  padding-bottom: 8px;
}

.bloque4 .bq4-body .bq4-contr #pp:hover {
  width: 143px;
}

.bloque4 .bq4-body .bq4-line {
  width: 7px;
  height: 50%;
  background-color: #EEB007;
}

#bq4-process {
  padding-top: 30px;
  color: #041E41;
  letter-spacing: 3px;
  font-size: 80px;
  width: auto;
}

.step1 {
  border-right: 4px solid #EEB007;
}

.step2 {
  border-left: 4px solid #EEB007;
}

@media (max-width: 1014px) {
  .bq4-body .bq4-contr p br {
    display: none;
  }
  #bq4-process {
    font-size: 60px;
  }
}

@media (max-width: 982px) {
  .bloque4 .bq4-body {
    display: block;
  }
  .bloque4 .bq4-body .bq4-contr {
    width: 100%;
  }
  .bloque4 .bq4-body .bq4-contr p br {
    display: block;
  }
  .bloque4 .bq4-body .bq4-contr .bq4-num {
    margin-left: 27%;
  }
  .bloque4 .bq4-body .bq4-contr .bq4-contrato {
    width: 80px;
  }
  .bloque4 .bq4-body .bq4-contr #pp {
    width: 93px;
  }
  .bloque4 .bq4-body .bq4-contr .bq4-contrato:hover {
    width: 98px;
  }
  .bloque4 .bq4-body .bq4-contr #pp:hover {
    width: 110px;
  }
  .step1 {
    border-right: none;
  }
  .step2 {
    border-left: none;
  }
}

@media (max-width: 606px) {
  #bq4-process {
    font-size: 50px;
  }
}

@media (max-width: 515px) {
  .bloque4 .bq4-body .bq4-contr {
    margin-bottom: 25px;
  }
  .bloque4 .bq4-body .bq4-contr h3 {
    font-size: 16px;
  }
  .bloque4 .bq4-body .bq4-contr p {
    font-size: 10px;
  }
  .bloque4 .bq4-body .bq4-contr .bq4-contrato {
    width: 70px;
  }
  .bloque4 .bq4-body .bq4-contr #pp {
    width: 83px;
  }
  .bloque4 .bq4-body .bq4-contr .bq4-contrato:hover {
    width: 88px;
  }
  .bloque4 .bq4-body .bq4-contr #pp:hover {
    width: 100px;
  }
  #bq4-process {
    font-size: 45px;
  }
}

.bloque5 {
  height: 800px;
  background-image: url("img/Guardia con celular Lykos final.jpg");
  background-attachment: fixed;
  background-size: 100%;
  color: #ffffff;
}

.bloque5 .blq5-sct {
  width: 60%;
  height: auto;
  padding-top: 30px;
  margin-left: 0px;
  font-size: 33px;
}

.bloque5 .blq5-sct .blq5-cot {
  font-size: 60px;
  font-weight: bolder;
  width: auto;
  letter-spacing: 8px;
  text-align: left;
  text-shadow: 2px 2px black;
  margin-top: 10%;
  margin-left: 9%;
  margin-bottom: 5%;
}

.bloque5 .blq5-sct .blq5-rec {
  width: 73%;
  border-left: 15px solid #EEB007;
  margin-top: 8%;
  margin-left: 10%;
  margin-bottom: 8%;
  padding-left: 1%;
}

.bloque5 .blq5-sct .blq5-btn {
  width: auto;
  margin-left: 20%;
  background-color: #EEB007;
  color: #041E41;
  border: none;
  border-radius: 3px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.bloque5 .blq5-sct .blq5-btn:hover {
  background: #041E41;
  border: 1px solid #041E41;
  color: #fff;
}

.bloque9 {
  height: auto;
  background: -webkit-gradient(linear, right top, left top, from(#fff), color-stop(55%, #041E41));
  background: linear-gradient(270deg, #fff, #041E41 55%);
  background-color: #EEB007;
  color: #ffffff;
  overflow: hidden;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
  margin: 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

.bloque9 div {
  width: 100%;
  height: 100%;
}

.bloque9 div .blq9-sct-mind {
  width: 100%;
  text-align: center;
  font-size: 55px;
  font-weight: bolder;
  text-shadow: 0px 5px black;
  letter-spacing: 5px;
  margin-top: 8%;
  margin-left: 7%;
}

.bloque9 div .blq9-sct-PCM {
  width: 730px;
  letter-spacing: 3px;
  padding-left: 15px;
  border-left: 13px solid #EEB007;
  margin-top: 40px;
  margin-left: 12%;
  font-size: 30px;
}

.bloque9 div .blq9-sct-PCM .unblock {
  display: none;
}

.bloque9 div div {
  width: 100%;
  text-align: center;
  height: auto;
}

.bloque9 div div .blq9-sct-lk {
  background-color: #EEB007;
  color: #041E41;
  font-weight: bold;
  width: auto;
  border-radius: 5px;
  border: #EEB007;
  font-size: 25px;
  margin-top: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.bloque9 div div .blq9-sct-lk:hover {
  color: #fff;
  border: 1px solid #041E41;
  background: #041E41;
}

.bloque9 .pcm {
  position: relative;
  z-index: 5;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  height: 100%;
}

.bloque9 .pcm .blq9-guard {
  width: 100%;
  position: relative;
  margin-top: 8%;
}

.bloque9 .pcm .blq9-icon {
  width: 25%;
  top: 80%;
  left: 48%;
  position: absolute;
}

.pcm-m {
  width: 120px;
  position: absolute;
  bottom: 10px;
  left: 50px;
  z-index: 5;
  display: none;
}

@media (max-width: 1382px) {
  .bloque9 div .blq9-sct-mind {
    font-size: 50px;
  }
  .bloque9 .pcm .blq9-guard {
    margin-top: 30%;
  }
}

@media (max-width: 1327px) {
  .bloque9 div .blq9-sct-PCM {
    font-size: 27px;
  }
  .bloque9 .pcm .blq9-guard {
    margin-top: 20%;
  }
}

@media (max-width: 1269px) {
  .bloque9 div .blq9-sct-mind {
    letter-spacing: 0px;
  }
  .bloque9 div .blq9-sct-PCM {
    margin-left: 8%;
  }
}

@media (max-width: 1190px) {
  .bloque9 {
    height: 656px;
  }
  .bloque9 div {
    position: relative;
  }
  .bloque9 div .blq9-sct-PCM {
    font-size: 24px;
  }
  .bloque9 div div .blq9-sct-lk {
    font-size: 21px;
  }
  .bloque9 .pcm .blq9-guard {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 400px;
  }
  .bloque9 .pcm .blq9-icon {
    display: none;
  }
  .pcm-m {
    display: block;
  }
}

@media (max-width: 968px) {
  .bloque9 {
    height: 650px;
    background: -webkit-gradient(linear, right top, left top, from(#fff), color-stop(25%, #041E41));
    background: linear-gradient(270deg, #fff, #041E41 25%);
  }
  .bloque9 div .blq9-sct-mind {
    font-size: 40px;
  }
  .bloque9 div .blq9-sct-PCM {
    margin-left: 15%;
    font-size: 20px;
  }
  .bloque9 div div {
    text-align: left;
  }
  .bloque9 div div .blq9-sct-lk {
    margin-left: 25%;
  }
}

@media (max-width: 877px) {
  .bloque9 div .blq9-sct-PCM {
    margin-left: 9%;
  }
}

@media (max-width: 830px) {
  .bloque9 {
    height: 800px;
  }
  .bloque9 div .blq9-sct-mind {
    margin-top: 3%;
  }
  .bloque9 div .blq9-sct-PCM {
    margin-top: 25px;
    margin-bottom: 0%;
    margin-left: 21%;
    font-size: 21px;
  }
  .bloque9 div .blq9-sct-PCM .unblock {
    display: block;
  }
  .bloque9 div .blq9-sct-PCM .block {
    display: none;
  }
}

@media (max-width: 775px) {
  .bloque9 div .blq9-sct-mind {
    margin-left: 0%;
  }
  .bloque9 div .blq9-sct-PCM {
    margin-left: 14%;
  }
  .bloque9 div div .blq9-sct-lk {
    margin-left: 20%;
  }
}

@media (max-width: 712px) {
  .bloque9 div .blq9-sct-mind {
    text-align: left;
    margin-left: 6%;
    width: 100%;
    font-size: 35px;
  }
  .bloque9 div .blq9-sct-PCM {
    margin-left: 6%;
    width: auto;
  }
  .bloque9 div div .blq9-sct-lk {
    margin-left: 8%;
  }
  .pcm-m {
    left: 15px;
  }
}

@media (max-width: 607px) {
  .bloque9 {
    height: 730px;
  }
  .bloque9 div .blq9-sct-mind {
    width: 400px;
    font-size: 27px;
  }
  .bloque9 div .blq9-sct-PCM {
    font-size: 20px;
  }
  .bloque9 .pcm .blq9-guard {
    width: 350px;
  }
}

@media (max-width: 586px) {
  .bloque9 {
    height: 660px;
  }
  .bloque9 div .blq9-sct-PCM {
    font-size: 15px;
    border-left: 7px solid #EEB007;
    padding-left: 6px;
  }
  .bloque9 div div .blq9-sct-lk {
    margin-top: 20px;
    font-size: 15px;
  }
}

@media (max-width: 476px) {
  .bloque9 {
    height: 600px;
  }
  .bloque9 .pcm .blq9-guard {
    width: 300px;
  }
  .pcm-m {
    width: 80px;
  }
}

@media (max-width: 448px) {
  .bloque9 {
    height: 450px;
  }
  .bloque9 div .blq9-sct-mind {
    font-size: 19px;
  }
  .bloque9 div .blq9-sct-PCM {
    font-size: 11px;
  }
  .bloque9 div div .blq9-sct-lk {
    font-size: 14px;
  }
  .bloque9 .pcm .blq9-guard {
    width: 220px;
  }
}

#uno {
  color: #EEB007;
}

#dos {
  color: #041E41;
}

.bloqueBlanco {
  width: 100%;
  overflow: hidden;
  height: auto;
  background: #fff;
  color: #041E41;
}

.bloqueAzul {
  width: 100%;
  overflow: hidden;
  height: auto;
  background: #041E41;
  color: #fff;
}

.bloqueCustomer {
  width: 100%;
  overflow: hidden;
  height: auto;
  background: #fff;
  color: #041E41;
}

.bloqueCustomer h1 img {
  width: 260px;
}

.contenedor {
  max-width: 1550px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.seil {
  width: 100%;
  text-align: center;
}

.seil img {
  width: 460px;
}

.bloqueTitulo {
  margin-top: 60px;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
}

.bloqueTxtCentro {
  width: 100%;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #041E41;
}

.bloqueTxtCentro .block {
  display: none;
}

.bt-Azul {
  width: auto;
  font-size: 27px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: #041E41;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.bt-Azul:hover {
  background-color: #ffffff;
  color: #041E41;
  border: 1px solid #041E41;
}

.centrado {
  margin-top: 3%;
  text-align: center;
}

#espacio1 {
  height: 50px;
}

#espacio2 {
  height: 150px;
}

#espacio3 {
  width: 100%;
  text-align: center;
}

.text11 {
  color: #EEB007;
  padding-left: 6%;
}

#espacio4 {
  margin-top: 7%;
}

.espacio5 {
  margin-top: 3%;
}

.espacio5 h1 img {
  width: 220px;
}

.espacio5 p {
  font-size: 30px;
}

.app-test {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  background-color: #fff;
  width: 100%;
}

.app-test .app-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: left;
  width: 100%;
}

.app-test .app-content .app-text {
  width: 100%;
}

.app-test .app-content .app-text .tituloApp {
  margin-top: 6%;
  text-align: left;
  margin-left: 13%;
  border-left: 15px solid #EEB007;
  padding-left: 1%;
  font-size: 42px;
}

.app-test .app-content .app-text .tituloApp .s2 {
  display: none;
}

.app-test .app-content .app-text .tituloApp .s3 {
  display: none;
}

.app-test .app-content .app-text .bloqueTxt {
  width: 90%;
  padding-top: 2%;
  text-align: left;
  margin-left: 13%;
  font-size: 33px;
  margin-top: 5%;
  color: #041E41;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.app-test .app-content .app-text .bt-Azul {
  width: auto;
  font-size: 24px;
  margin-top: 7%;
  padding: 8px 18px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: #041E41;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.app-test .app-content .app-text .bt-Azul:hover {
  background-color: #ffffff;
  color: #041E41;
  border: 1px solid #041E41;
}

.app-test .app-content .icon-bground {
  position: relative;
  width: 100%;
  height: 100%;
}

.app-test .app-content .icon-bground .bck {
  top: 17%;
  left: 10%;
  width: 75%;
  position: relative;
}

.app-test .app-content .icon-bground .cellphone {
  position: absolute;
  width: 32%;
  z-index: 5;
  top: 27%;
  left: 20%;
}

.app-test .app-content .icon-bground .cellphone2 {
  position: absolute;
  z-index: 5;
  width: 23%;
  top: 41%;
  left: 50%;
}

.app-test .app-content .small-text {
  display: none;
}

.app-test .app-content .small-text .bloqueTxt {
  width: 90%;
  text-align: left;
  margin-left: 6%;
  font-size: 33px;
  margin-top: 5%;
  color: #041E41;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.app-test .app-content .small-text .bt-Azul {
  width: auto;
  font-size: 140%;
  margin-top: 1%;
  padding: 8px 18px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: #041E41;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.app-test .app-content .small-text .bt-Azul:hover {
  background-color: #ffffff;
  color: #041E41;
  border: 1px solid #041E41;
}

.app-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app-icons .app-icon {
  margin-top: 5%;
  width: 50%;
}

.app-icons .app-icon img {
  width: 20%;
  margin-left: 6%;
}

.app-icons .app-download {
  text-align: right;
  margin-top: 5%;
  width: 50%;
}

.app-icons .app-download div {
  width: 100%;
}

.app-icons .app-download div img {
  width: 15%;
  margin-right: 3%;
  padding-top: 9%;
}

.app-icons .app-download div img:last-child {
  margin-right: 14%;
  width: 16%;
}

@media (max-width: 1370px) {
  .app-test .app-content .app-text .bloqueTxt {
    font-size: 28px;
    width: 95%;
  }
}

@media (max-width: 1332px) {
  .app-test .app-content .icon-bground .cellphone {
    width: 34%;
    top: 23%;
  }
  .app-test .app-content .icon-bground .cellphone2 {
    top: 35%;
    width: 25%;
  }
}

@media (max-width: 1190px) {
  .bloqueTitulo {
    font-size: 51px;
    letter-spacing: 3px;
  }
  .bloqueTxtCentro {
    font-size: 22px;
    letter-spacing: 1px;
  }
  .bt-Azul {
    font-size: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 1080px) {
  .app-test .app-content .app-text .tituloApp {
    font-size: 35px;
  }
  .app-test .app-content .app-text .bloqueTxt {
    font-size: 23px;
  }
  .app-test .app-content .app-text .bt-Azul {
    font-size: 19px;
    padding: 7px 16px;
  }
  .espacio5 h1 img {
    width: 190px;
  }
  .espacio5 p {
    font-size: 25px;
  }
}

@media (max-width: 913px) {
  .app-test .app-content .app-text .bloqueTxt {
    width: 90%;
  }
  .app-test .app-content .icon-bground .bck {
    width: 87%;
  }
  .app-test .app-content .icon-bground .cellphone {
    width: 47%;
    top: 16%;
    left: 13%;
  }
  .app-test .app-content .icon-bground .cellphone2 {
    top: 24%;
    width: 39%;
    left: 54%;
  }
}

@media (max-width: 868px) {
  .app-icons .app-icon img {
    width: 30%;
  }
  .app-icons .app-download div img {
    width: 25%;
    padding-top: 11%;
  }
  .app-icons .app-download div img:last-child {
    width: 26%;
  }
}

@media (max-width: 837px) {
  .bloqueTitulo {
    font-size: 40px;
  }
  .bloqueTxtCentro {
    font-size: 18px;
  }
  .bloqueTxtCentro p {
    text-align: left;
    margin-left: 6%;
    margin-bottom: 0;
  }
  .bt-Azul {
    font-size: 18px;
  }
  .seil img {
    width: 340px;
  }
  .espacio5 h1 img {
    width: 160px;
  }
  .espacio5 p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .app-test .app-content {
    display: contents;
  }
  .app-test .app-content .app-text .tituloApp {
    font-size: 45px;
    letter-spacing: 3px;
    margin-left: 16%;
  }
  .app-test .app-content .app-text .tituloApp .s1 {
    display: none;
  }
  .app-test .app-content .app-text .tituloApp .s2 {
    display: block;
  }
  .app-test .app-content .app-text .tituloApp .s3 {
    display: block;
  }
  .app-test .app-content .app-text .bloqueTxt {
    display: none;
  }
  .app-test .app-content .app-text .centrado {
    display: none;
  }
  .app-test .app-content .icon-bground .bck {
    width: 50%;
    left: 24%;
    top: 2%;
  }
  .app-test .app-content .icon-bground .cellphone {
    width: 28%;
    top: 0%;
    left: 25%;
  }
  .app-test .app-content .icon-bground .cellphone2 {
    width: 24%;
    top: 8%;
    left: 50%;
  }
  .app-test .app-content .small-text {
    display: block;
  }
  .app-test .app-content .small-text .bloqueTxt {
    width: 100%;
    font-size: 26px;
    margin-left: 1%;
  }
  .app-test .app-content .small-text .centrado {
    margin-top: 30px;
  }
  .app-test .app-content .small-text .centrado .bt-Azul {
    font-size: 22px;
    padding: 8px 17px;
  }
}

@media (max-width: 690px) {
  .bloqueTitulo {
    font-size: 33px;
  }
  .bloqueTxtCentro p {
    font-size: 16px;
    margin-left: 4%;
  }
  .bt-Azul {
    font-size: 18px;
  }
  .seil img {
    width: 250px;
  }
}

@media (max-width: 659px) {
  .bloqueTitulo {
    margin-top: 30px;
  }
  .bloqueTxtCentro {
    width: 100%;
    margin: auto;
  }
  .bloqueTxtCentro p {
    width: 60%;
    margin-left: 24%;
  }
  .bloqueTxtCentro .block {
    display: block;
  }
  .bloqueTxtCentro .unblock {
    display: none;
  }
  .espacio5 h1 img {
    width: 130px;
  }
  .espacio5 p {
    font-size: 17px;
  }
}

@media (max-width: 599px) {
  .app-test .app-content .app-text .tituloApp {
    font-size: 35px;
  }
  .app-test .app-content .small-text .bloqueTxt {
    font-size: 29px;
  }
}

@media (max-width: 554px) {
  .app-test .app-content .app-text .tituloApp {
    font-size: 29px;
  }
  .app-test .app-content .small-text .bloqueTxt {
    font-size: 20px;
  }
  .app-test .app-content .small-text .centrado .bt-Azul {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 457px) {
  .bloqueTxtCentro p {
    width: 100%;
    margin-left: 70px;
  }
}

@media (max-width: 412px) {
  .bloqueTxtCentro p {
    margin-left: 50px;
  }
}

.bloqueRobo {
  width: 100%;
  overflow: hidden;
  height: auto;
  background: url("img/IMAGENFONDO.jpg");
  color: #fff;
  background-attachment: fixed;
  background-position-x: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  max-width: 1550px;
}

#informativo {
  width: 100%;
  color: #fff;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

#guardia {
  width: 100%;
  height: 100%;
  position: relative;
}

#guardia img {
  width: 630px;
}

#guardia div {
  display: none;
  position: absolute;
  text-align: center;
  top: 85%;
  width: 100%;
}

#guardia div button {
  width: auto;
  font-size: 19px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  color: #041E41;
  border-radius: 5px;
  border: 1px solid #041E41;
  background: #EEB007;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  letter-spacing: 2px;
}

.content {
  margin-top: 6%;
}

.textoChico {
  font-size: 25px;
  text-align: left;
  text-shadow: 2px 2px black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

.textoMediano {
  padding-top: 1%;
  font-size: 44px;
  text-shadow: 2px 2px black;
  padding-left: 0%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

.textoNormal {
  padding-top: 10%;
  font-size: 37px;
  text-align: right;
  padding-right: 10%;
  text-shadow: 2px 2px black;
  letter-spacing: 3px;
}

.bt-amarillo {
  width: auto;
  font-size: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 2%;
  font-weight: bold;
  color: #041E41;
  border-radius: 5px;
  border: 1px solid #041E41;
  background: #EEB007;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  letter-spacing: 2px;
}

.bt-amarillo:hover {
  color: #fff;
  border: 1px solid #041E41;
  background: #041E41;
}

.info-small {
  display: none;
  width: 100%;
  height: auto;
  padding-left: 25%;
  padding-top: 6%;
}

@media (max-width: 1388px) {
  .textoMediano {
    font-size: 38px;
    padding-top: 3%;
  }
  .textoChico {
    letter-spacing: 0px;
  }
  .textoNormal {
    font-size: 34px;
    padding-top: 15%;
  }
}

@media (max-width: 1297px) {
  .textoMediano {
    font-size: 35px;
  }
  .textoChico {
    font-size: 22px;
  }
  .textoNormal {
    font-size: 30px;
    padding-right: 7%;
  }
  #guardia img {
    width: 580px;
  }
  .bt-amarillo {
    font-size: 21px;
    padding: 3px 14px;
  }
}

@media (max-width: 1201px) {
  .textoMediano {
    font-size: 32px;
    letter-spacing: 2px;
  }
  .textoNormal {
    font-size: 26px;
  }
  #guardia img {
    width: 520px;
  }
}

@media (max-width: 1089px) {
  .textoMediano {
    font-size: 28px;
    letter-spacing: 2px;
  }
  .textoNormal {
    font-size: 22px;
    padding-right: 10%;
    padding-top: 11%;
  }
  .textoChico {
    font-size: 18px;
  }
  #guardia img {
    width: 460px;
  }
  .bt-amarillo {
    font-size: 19px;
    padding: 3px 14px;
  }
}

@media (max-width: 947px) {
  #guardia img {
    width: 400px;
  }
}

@media (max-width: 885px) {
  .textoMediano {
    text-align: center;
  }
  .textoNormal {
    padding-top: 5%;
    font-size: 19px;
  }
  .bt-amarillo {
    font-size: 18px;
    padding: 2px 9px;
  }
}

@media (max-width: 805px) {
  #guardia img {
    padding-top: 6%;
    width: 380px;
  }
}

@media (max-width: 769px) {
  .bloqueRobo {
    display: block;
  }
  #informativo {
    display: none;
  }
  #guardia {
    text-align: center;
  }
  #guardia img {
    width: 400px;
    padding-top: 2%;
  }
  #guardia div {
    display: block;
  }
  .info-small {
    display: block;
  }
  .info-small .textUp {
    letter-spacing: 2px;
    font-size: 20px;
    padding-bottom: 5%;
  }
  .info-small .textMid {
    letter-spacing: 3px;
    font-size: 21px;
    padding-bottom: 5%;
  }
  .info-small .textDown {
    letter-spacing: 3px;
    font-size: 22px;
  }
}

@media (max-width: 699px) {
  .info-small {
    padding-left: 20%;
  }
}

@media (max-width: 575px) {
  .info-small {
    padding-left: 15%;
  }
  #guardia img {
    width: 340px;
  }
  #guardia div button {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 490px) {
  .info-small {
    padding-left: 10%;
  }
  .info-small .textUp {
    font-size: 15px;
  }
  .info-small .textMid {
    font-size: 16px;
  }
  .info-small .textDown {
    font-size: 17px;
  }
}

.carousel-item .contenedor {
  margin-top: 30px;
  color: black;
}

.carousel-control-prev {
  width: 3%;
  color: black;
}

.carousel-control-next {
  width: 3%;
  opacity: 50%;
}

.carouselSelection {
  -webkit-filter: opacity(45%);
          filter: opacity(45%);
  text-align: center;
}

.carouselSelection:hover {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

#img1 {
  width: 75%;
  margin-right: 0%;
}

#img2 {
  width: 75%;
  margin-right: 0%;
}

#img3 {
  width: 75%;
  margin-right: 0%;
}

#img4 {
  width: 75%;
  margin-right: 0%;
}

#img5 {
  width: 75%;
  margin-right: 0%;
}

#img6 {
  width: 75%;
  margin-right: 0%;
}

#img7 {
  width: 75%;
  margin-right: 0%;
}

#img8 {
  width: 75%;
  margin-right: 0%;
}

.bloqueSegIndus {
  width: 100%;
  overflow: hidden;
  height: auto;
  background: url("img/Fondo Especialistas Lykos.jpg");
  color: #fff;
  background-attachment: fixed;
  background-position-y: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 1550px;
}

.bloqueSegIndus .industrial-security {
  width: 100%;
  height: 100%;
  text-align: center;
}

.bloqueSegIndus .industrial-security ul {
  margin-top: 25%;
  margin-left: 25%;
  text-align: left;
  list-style: none;
  font-size: 55px;
  font-weight: bold;
  border-left: 16px solid #EEB007;
  padding-left: 15px;
  letter-spacing: 4px;
  text-shadow: 0px 3px black;
}

.bloqueSegIndus .industrial-security ul .fourth {
  color: #EEB007;
}

.bloqueSegIndus .industrial-security ul li {
  height: auto;
}

.bloqueSegIndus .industrial-security ul li:last-child {
  color: #EEB007;
}

.bloqueSegIndus .industrial-security button {
  width: auto;
  font-size: 27px;
  margin-top: 7%;
  padding: 8px 18px;
  font-weight: bold;
  color: #041E41;
  border-radius: 5px;
  border: #EEB007;
  background: #EEB007;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.bloqueSegIndus .industrial-security button:hover {
  background-color: #041E41;
  color: #fff;
  border: 0px solid #041E41;
}

.bloqueSegIndus .guard {
  width: 100%;
  height: 100%;
  position: relative;
}

.bloqueSegIndus .guard img {
  width: 100%;
}

.bloqueSegIndus .lil-button {
  width: 100%;
  text-align: center;
  position: absolute;
  display: none;
  top: 85%;
}

.bloqueSegIndus .lil-button button {
  width: auto;
  font-size: 18px;
  padding: 6px 16px;
  font-weight: bold;
  color: #041E41;
  border-radius: 5px;
  background: #EEB007;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.bloqueSegIndus .lil-button button:hover {
  background-color: #041E41;
  color: #fff;
  border: 0px solid #041E41;
}

#barra {
  height: 430px;
  width: 8em;
  background: #EEB007;
}

#titulocBarra {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 25%;
}

#barra2 {
  height: auto;
  width: 16px;
  background: #EEB007;
  margin-top: 10%;
}

#titulocBarra2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 7%;
}

#barra3 {
  height: 398px;
  width: 12px;
  background: #EEB007;
  margin-top: 4%;
}

#titulocBarra3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 9%;
}

#barra4 {
  height: 340px;
  width: 12px;
  background: #EEB007;
  margin-top: 48px;
}

#titulocBarra4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 1%;
}

#barra5 {
  height: 30px;
  width: 8px;
  background: #EEB007;
}

@media (max-width: 1425px) {
  .bloqueSegIndus .industrial-security ul {
    font-size: 45px;
  }
  .bloqueSegIndus .industrial-security ul li:last-child {
    height: auto;
  }
}

@media (max-width: 1212px) {
  .bloqueSegIndus .industrial-security ul {
    font-size: 42px;
  }
  .bloqueSegIndus .industrial-security button {
    font-size: 20px;
  }
}

@media (max-width: 1148px) {
  .bloqueSegIndus .industrial-security ul {
    font-size: 38px;
  }
  .bloqueSegIndus .industrial-security button {
    font-size: 19px;
  }
}

@media (max-width: 1062px) {
  .bloqueSegIndus .industrial-security ul {
    font-size: 35px;
    margin-left: 16%;
  }
  .bloqueSegIndus .industrial-security button {
    font-size: 17px;
    padding: 6px 14px;
    margin-top: 5%;
  }
}

@media (max-width: 892px) {
  .bloqueSegIndus .industrial-security ul {
    font-size: 30px;
  }
  .bloqueSegIndus .industrial-security button {
    font-size: 17px;
    padding: 6px 11px;
    margin-top: 5%;
  }
}

@media (max-width: 768px) {
  .bloqueSegIndus {
    display: block;
  }
  .bloqueSegIndus .industrial-security ul {
    margin-top: 5%;
    margin-left: 8%;
    margin-bottom: 0;
    border-left: 11px solid #EEB007;
    font-size: 48px;
  }
  .bloqueSegIndus .industrial-security ul li {
    height: 50px;
  }
  .bloqueSegIndus .industrial-security button {
    display: none;
  }
  .bloqueSegIndus .guard {
    text-align: center;
  }
  .bloqueSegIndus .guard img {
    width: 60%;
  }
  .bloqueSegIndus .guard .lil-button {
    display: block;
  }
}

@media (max-width: 540px) {
  .bloqueSegIndus .industrial-security ul {
    font-size: 35px;
  }
  .bloqueSegIndus .guard .lil-button button {
    font-size: 13px;
  }
}

@media (max-width: 402px) {
  .bloqueSegIndus .industrial-security ul {
    font-size: 26px;
  }
}

.cWht {
  color: #ffffff;
}

.blq2-txt-v {
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-size: 46px;
  letter-spacing: 1px;
  padding-top: 3%;
}

.blq2-video-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: 300px;
  margin-top: 5%;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 50px;
}

#izq {
  text-align: left;
}

#ligero-amarillo {
  font-weight: lighter;
  color: #EEB007;
}

#ligero {
  font-weight: lighter;
}

#altura {
  height: 640px;
}

@media (max-width: 1096px) {
  .blq2-txt-v {
    font-size: 38px;
  }
}

.questions {
  background: #fff;
  width: 100%;
  color: #041E41;
  text-align: center;
}

.questions h1 {
  padding: 40px 0;
  margin: 0px;
}

.questions button {
  background: #EEB007;
  border-radius: 5px;
  border: none;
  font-size: 40px;
  color: #041E41;
  padding: 0 30px;
}

footer {
  background: #041E41;
  color: #fff;
}

footer .contenedor {
  width: 93%;
  max-width: 1550px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: 3px solid #fff;
}

footer .contenedor .novedades {
  text-align: right;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20%;
}

footer .contenedor .novedades h1 {
  font-size: 30px;
  text-align: right;
  font-weight: bold;
}

footer .contenedor .novedades h1 strong {
  color: #EEB007;
}

footer .contenedor .novedades p {
  font-size: 26px;
}

footer .contenedor .novedades input {
  width: 250px;
  border-radius: 5px;
  padding-left: 5px;
  background: #EEB007;
  color: #041E41;
  border: #EEB007;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

footer .contenedor .novedades .enter-email {
  width: 100px;
  margin-left: 6px;
  border-radius: 5px;
  background: #EEB007;
  color: #041E41;
  font-weight: bolder;
  border: #EEB007;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  padding-top: 4px;
  padding-bottom: 4px;
}

footer .contenedor .novedades .enter-email:hover {
  background: #041E41;
  color: #fff;
  border: #041E41;
}

footer .contenedor .novedades .media {
  text-align: right;
  padding-right: 45px;
}

footer .contenedor .novedades .media a {
  margin-left: 0px;
  margin-right: 0px;
}

footer .contenedor .novedades .media a img {
  width: 63px;
}

footer .contenedor .novedades .media a:hover img {
  width: 75px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

footer .contenedor .info-general {
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 33%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

footer .contenedor .info-general p {
  font-size: 17px;
  font-weight: bold;
}

footer .contenedor .info-general p strong {
  color: #EEB007;
}

footer .contenedor .info-general p img {
  padding-right: 7px;
  width: 22px;
}

.logos {
  width: 100%;
  margin-top: 10%;
  margin-left: 0px;
}

.logos img {
  padding-left: 18px;
  padding-right: 7px;
  border-right: 3px solid #fff;
}

.logos .one {
  width: 120px;
}

.logos .pcm {
  width: 155px;
}

.logos .lykse {
  width: 187px;
}

.logos .seil {
  width: 110px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.contenedor-abajo {
  width: 93%;
  max-width: 1550px;
  margin: auto;
  text-align: center;
}

.contenedor-abajo img {
  height: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 35px;
  margin-bottom: 60px;
  padding: 0px;
}

.contenedor-abajo p {
  padding-bottom: 25px;
  margin-bottom: 0px;
}

@media (max-width: 1297px) {
  footer .contenedor .info-general {
    margin-top: 35%;
  }
}

@media (max-width: 1257px) {
  .logos .one {
    width: 100px;
  }
  .logos .pcm {
    width: 130px;
  }
  .logos .lykse {
    width: 150px;
  }
  .logos .seil {
    width: 95px;
  }
}

@media (max-width: 1137px) {
  footer .contenedor .novedades h1 {
    font-size: 23px;
  }
  footer .contenedor .novedades p {
    font-size: 19px;
  }
  footer .contenedor .info-general p {
    font-size: 12px;
  }
}

@media (max-width: 1049px) {
  .logos img {
    padding-left: 6px;
    padding-right: 2px;
  }
  .logos .one {
    width: 90px;
  }
  .logos .pcm {
    width: 110px;
  }
  .logos .lykse {
    width: 130px;
  }
  .logos .seil {
    width: 90px;
  }
}

@media (max-width: 1013px) {
  .logos {
    margin-top: 8%;
  }
}

@media (max-width: 930px) {
  .logos {
    margin-top: 10%;
  }
  .logos .one {
    width: 70px;
  }
  .logos .pcm {
    width: 105px;
  }
  .logos .lykse {
    width: 137px;
  }
  .logos .seil {
    width: 70px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  footer .contenedor .novedades input {
    width: 200px;
  }
  footer .contenedor .novedades .enter-email {
    width: 80px;
  }
}

@media (max-width: 916px) {
  footer .contenedor .info-general {
    margin-top: 32%;
  }
  footer .contenedor .novedades h1 {
    font-size: 23px;
  }
  footer .contenedor .novedades p {
    font-size: 17px;
  }
  .logos {
    margin-top: 12%;
  }
}

@media (max-width: 849px) {
  footer .contenedor .novedades h1 {
    font-size: 20px;
  }
  .logos .one {
    width: 60px;
  }
  .logos .pcm {
    width: 95px;
  }
  .logos .lykse {
    width: 127px;
  }
  .logos .seil {
    width: 60px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

@media (max-width: 769px) {
  footer .contenedor {
    display: block;
  }
  footer .contenedor .info-general {
    margin-top: 0;
    padding-top: 10%;
  }
  footer .contenedor .info-general p {
    font-size: 16px;
  }
  footer .contenedor .novedades {
    margin-top: 10%;
    margin-right: 0%;
  }
  footer .contenedor .novedades h1 {
    font-size: 28px;
    padding-right: 10%;
  }
  footer .contenedor .novedades p {
    font-size: 21px;
    padding-right: 10%;
  }
  footer .contenedor .novedades .media {
    padding: 10px 0;
    text-align: center;
  }
  footer .contenedor .novedades input {
    width: 250px;
  }
  footer .contenedor .novedades .enter-email {
    width: 100px;
  }
  .logos {
    text-align: center;
    margin-top: 6%;
  }
  .logos img {
    padding-left: 18px;
  }
  .logos img:first-child {
    padding-left: 0px;
  }
  .logos .one {
    width: 100px;
  }
  .logos .pcm {
    width: 150px;
  }
  .logos .lykse {
    width: 175px;
  }
  .logos .seil {
    width: 115px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .textplace {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 594px) {
  footer .contenedor .info-general p {
    font-size: 13px;
  }
  .logos .one {
    width: 80px;
  }
  .logos .pcm {
    width: 130px;
  }
  .logos .seil {
    width: 95px;
  }
  .logos .lykse {
    width: 155px;
  }
}

@media (max-width: 569px) {
  footer .contenedor .novedades {
    margin-top: 4%;
  }
  footer .contenedor .novedades h1 {
    font-size: 23px;
  }
  footer .contenedor .novedades p {
    font-size: 17px;
  }
}

@media (max-width: 509px) {
  .logos img {
    padding-left: 10px;
  }
  .logos .one {
    width: 60px;
  }
  .logos .pcm {
    width: 110px;
  }
  .logos .seil {
    width: 75px;
  }
  .logos .lykse {
    width: 135px;
  }
}

@media (max-width: 422px) {
  .logos .one {
    width: 60px;
  }
  .logos .pcm {
    width: 90px;
  }
  .logos .seil {
    width: 55px;
  }
  .logos .lykse {
    width: 115px;
  }
}

* {
  padding: 0;
  margin: auto;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 4px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("img/WhatsApp Video 2021-10-22 at 13.46.07.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1520px;
}

body .container-l {
  max-width: 1550px;
  width: 100%;
}

body .container-l .Lyk-comm-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding: 0;
}

body .container-l .Lyk-comm-header .Lyk-comm-nav {
  width: 100%;
  height: 40%;
  font-family: 'Montserrat', sans-serif;
  margin-left: 3%;
}

body .container-l .Lyk-comm-header .Lyk-comm-nav .Lyk-comm-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  padding-left: 0%;
}

body .container-l .Lyk-comm-header .Lyk-comm-nav .Lyk-comm-list .Lyk-comm-item {
  width: auto;
  margin-left: 0%;
  margin-right: 70px;
  height: 100%;
}

body .container-l .Lyk-comm-header .Lyk-comm-nav .Lyk-comm-list .Lyk-comm-item .Lyk-comm-item-link {
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  text-decoration: none;
  color: white;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  letter-spacing: 2px;
  border-radius: 7px;
  text-align: center;
}

body .container-l .Lyk-comm-header .Lyk-comm-nav .Lyk-comm-list .Lyk-comm-item .Lyk-comm-item-link:hover {
  /*border: {
                    left: 4px solid $cSrv2;
                    bottom: 3px solid $cSrv2;
                }
                box-shadow: -1px 1px 5px $cSrv2, -1px 2px 3px $cSrv1, -1px 1px 3px $cSrv1;
                */
  color: #041E41;
  background: #EEB007;
  font-weight: bold;
}

body .container-l .Lyk-comm-header .Lyk-comm-nav .Lyk-comm-list .Lyk-comm-item .Lyk-comm-item-link-logo {
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  text-decoration: none;
  color: white;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  letter-spacing: 2px;
  border-radius: 7px;
}

body .container-l .Lyk-comm-header .Lyk-comm-nav .Lyk-comm-list .Lyk-comm-item .Lyk-comm-item-link-logo:hover {
  color: #041E41;
  font-weight: bold;
}

body .container-l .Lyk-comm-header #logobarra {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body .container-l .Lyk-comm-header #logobarra img {
  width: 190px;
  padding-right: 10px;
}

body .container-l .Lyk-comm-header .nav {
  display: none;
  height: auto;
}

body .container-l .Lyk-comm-header .sticky {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background: #041E41;
  display: none;
  margin: 0 0 30px;
}

body .container-l .Lyk-comm-header header {
  padding: 0;
}

body .container-l .Lyk-comm-header .mobike-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1134px) {
  body .container-l .Lyk-comm-header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 1134px;
    margin: 0 0;
  }
  body .container-l .Lyk-comm-header .sticky {
    display: block;
  }
  body .container-l .Lyk-comm-header .Lyk-comm-nav {
    display: none;
  }
  body .container-l .Lyk-comm-header .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    margin: 0 0;
  }
  body .container-l .Lyk-comm-header .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    background-color: #041E41;
    position: fixed;
    top: 145px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  body .container-l .Lyk-comm-header .nav-menu-item {
    line-height: 70px;
  }
  body .container-l .Lyk-comm-header .nav-menu-link {
    color: #EEB007;
  }
  body .container-l .Lyk-comm-header .nav-menu-link:hover,
  body .container-l .Lyk-comm-header .nav-menu-link_active {
    background: none;
    color: #EEB007;
  }
  body .container-l .Lyk-comm-header .nav-toggle {
    display: block;
    padding: 0 60px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
    background: #EEB007;
    color: #041E41;
    border: none;
    border-radius: 9px;
    font-size: 17px;
  }
  body .container-l .Lyk-comm-header .nav-menu_visible {
    left: 0;
  }
  body .container-l .Lyk-comm-header .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}

@media (max-width: 946px) {
  body .container-l .Lyk-comm-header .sticky {
    font-size: 15px;
    margin: 0 0 15px;
  }
  body .container-l .Lyk-comm-header .nav-toggle {
    font-size: 17px;
    height: 45px;
    padding: 0 30px;
  }
  body .container-l .Lyk-comm-header .logo {
    height: auto;
  }
  body .container-l .Lyk-comm-header .logo img {
    width: 140px;
  }
}

@media (max-width: 749px) {
  body .container-l .Lyk-comm-header .nav-toggle {
    font-size: 15px;
    padding: 0px 10px;
  }
}

.container-l::before {
  width: 100%;
  position: absolute;
  min-height: 100vh;
  max-width: 1550px;
  background-image: -webkit-gradient(linear, left top, right top, from(#041E41), to(#041E41));
  background-image: linear-gradient(90deg, #041E41, #041E41);
  padding: 0;
}

.gradient {
  width: 100%;
  height: 710px;
  background: -webkit-gradient(linear, left top, right top, from(#041E41), to(#041E41));
  background: linear-gradient(90deg, #041E41, #041E41);
  position: absolute;
  opacity: 75%;
  z-index: -1;
}

@media (max-width: 1134px) {
  body {
    background-position-x: 50%;
  }
}
/*# sourceMappingURL=index.css.map */