@import "components/bloque1";
@import "components/bloque2";
@import "components/bloque3";
@import "components/bloque4";
@import "components/bloque5";
@import "components/bloque9";
@import "components/colors";
@import "components/size";
@import "components/bloqueApp";
@import "components/_bloque-doce";
@import "components/carousel";
@import "components/bloque-seg-ind";
@import "components/bloque-videoOpinion";
@import "components/preguntas-frecuentes";
@import "components/footer";

*{
    padding: 0;
    margin: auto;
    text-decoration: none;
    box-sizing: border-box;
}

body::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 4px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("img/WhatsApp\ Video\ 2021-10-22\ at\ 13.46.07.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 100%;
    background-size: 100%;
    .container-l{
        max-width:1550px;
        width: 100%;
        
        .Lyk-comm-header{
            display: flex;
            
            height: 100px;
            @import "components/LykCommNav";
            padding: 0;
        }
    }  
}
.container-l::before{
    width: 100%;
    position: absolute;
    min-height: 100vh;
    max-width: 1550px;
    background-image: linear-gradient(90deg,$cSrv1,$cSrv1);
    padding: 0;
}
.gradient{
    width: 100%; 
    height:710px; 
    background: linear-gradient(90deg,#041E41,#041E41);
    position:absolute;
    opacity: 75%;
    z-index: -1;
}
