.bloqueRobo {
  @include block(100%,hidden,730px,url("img/IMAGENFONDO.jpg"),#fff);
  background-attachment: fixed;
  background-position-x: center;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
@mixin informativo ($width:100%,$margintop:2%){
  width: $width;
  color:#fff;
  margin-top: $margintop;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
@mixin guardia($widthIm:110%,$margintop:10px){
  img{
    width: $widthIm;
    margin-top: $margintop;
    z-index: 5;
  }
}
#informativo{
  @include informativo();

}
#guardia{
  @include guardia(600px,12px);
  position: relative;
}
#informativo2{
  @include informativo(100%,60px);
  height: 100%;
}
#guardia2{
  margin-top: 4%;
  width: 100%;
  img{
    width: 100%;
    position: relative;
  }
}
.textoChico{
  font-size: 25px;
  text-align: left;
  text-shadow: 2px 2px black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}
.textoMediano{
  padding-top: 1%;
  font-size: 300%;
  text-shadow: 2px 2px black;
  padding-left: 3%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}
.textoNormal{
  padding-top: 10%;
  font-size: 240%;
  text-align: right;
  padding-right: 10%;
  text-shadow: 2px 2px black;
  letter-spacing: 3px;
}
.bt-amarillo{
  width: 300px;
  font-size: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 2%;
  margin-left: 35%;
  font-weight: bold;
  color: $cSrv1;
  border-radius: 5px;
  border: 1px solid $cSrv1;
  background:$cSrv2;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  letter-spacing: 2px;
}
.bt-amarillo:hover{
  color:#fff;
  border: 1px solid $cSrv1;
  background: $cSrv1;
}