@import "colors";
@import "size";


.bloque3{
    height: $box + 200px;
    background-image: url("img/Cambiar_la_vida_de_una_persona_fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow: hidden; 
    .blq3-ctner{
        display: flex;
        width: 100%;
        height: 63%;
        color: white;
        
        .bq3-lst{
            width: auto;
            line-height: 25px;
            border-left: 25px solid $cSrv2;
            margin-left: 6%;
            margin-top: 7%;
            margin-right: 0%;
            padding-left: 1%;
            text-shadow: 0px 5px black;
            letter-spacing: 4px;
            
            h1{
                font-size: 70px;
            }
            h2{
                font-size: 40px;
                font-weight: bolder;
                strong{
                    font-weight: bolder;
                }
            }

            
        }
        .bq3-lst-lk{
            width: 300px;
            border-radius: 5px;
            background-color: $cSrv2;
            padding-top: 8px;
            padding-bottom: 8px;
            color: $cSrv1;
            font-size: 25px;
            font-weight: bold;
            margin: {
                top: 6%;
                left: 8%;
            }
            transition: all 300ms;
        }.bq3-lst-lk:hover{
            background: $cSrv1;
            border: 1px solid $cSrv1;
            color: #fff;
        }
        /*
        .bq3-lst>*{
            line-height: 66.5px;
            
        }
        */
        .bq3-sp{
            letter-spacing: 2px;
            width: 35%;
            height: auto;
            margin-left: 100px;
            margin-top: 16%;
            h2{
                text-shadow: 0px 5px black;
            }
            h3{
                margin-bottom: 10px;
            }
            p{
                font-size:19px;
            }
        }
    }
}