  .bloqueSegIndus{
    @include block(100%,hidden,auto,url("img/Fondo Especialistas Lykos.jpg"),#fff);
    background-attachment: fixed;
    background-position-y: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width:1550px;
    .industrial-security{
      width: 100%;
      height: 100%;
      text-align: center;
      ul{
        margin-top: 25%;
        margin-left: 25%;
        text-align: left;
        list-style: none;
        font-size: 55px;
        font-weight: bold;
        border-left: 16px solid $cSrv2;
        padding-left: 15px;
        letter-spacing: 4px;
        text-shadow: 0px 3px black;
        .fourth{
          color: $cSrv2;
        }
        li{
          height: auto;
        }
        li:last-child{
          color:$cSrv2;
        }
      }
      button{
        width:auto;
        font-size: 27px;
        margin-top: 7%;
        padding: 8px 18px;
        font-weight: bold;
        color: $cSrv1;
        border-radius: 5px;
        border: $cSrv2;
        background: $cSrv2;
        -webkit-transition: 300ms all;
        transition: 300ms all;
      }
      button:hover {
        background-color: $cSrv1;
        color:#fff;
        border: 0px solid $cSrv1;
      }
    }
    .guard{
      width: 100%;
      height: 100%;
      position: relative;
      img{
        width:100%;
      }
    }
    .lil-button{
      width:100%;
      text-align:center;
      position: absolute;
      display: none;
      top: 85%;
      button{
        width:auto;
        font-size: 18px;
        padding: 6px 16px;
        font-weight: bold;
        color: $cSrv1;
        border-radius: 5px;
        background: $cSrv2;
        -webkit-transition: 300ms all;
        transition: 300ms all;
      }
      button:hover {
        background-color: $cSrv1;
        color:#fff;
        border: 0px solid $cSrv1;
      }
    }
  }
 
  @mixin titulocBarra($disp:inline-flex,$marleft:0%){
    display: $disp; 
    margin-left: $marleft;
  }
  @mixin barra ($height:100px,$width:5em,$back:$cSrv2){
    height:$height;
    width:$width;
    background: $back;
  }
  #barra{
    @include barra (430px,8em);
  }
  #titulocBarra{
    @include titulocBarra(inline-flex,25%);
  }
  #barra2{
    @include barra (auto,16px);
    margin-top: 10%;
  }
  #titulocBarra2{
    @include titulocBarra(inline-flex,7%);
  }
  #barra3{
    @include barra (398px,12px);
    margin-top: 4%;
  }
  #titulocBarra3{
    @include titulocBarra(inline-flex,9%);
  }
  #barra4{
    @include barra (340px,12px);
    margin-top: 48px;
  }
  #titulocBarra4{
    @include titulocBarra(inline-flex,1%);
  }
  #barra5{
    @include barra (30px,8px);
  }
@media (max-width:1425px){
  .bloqueSegIndus{
    .industrial-security{
      ul{
        font-size: 45px;
        li:last-child{
          height: auto;
        }
      }
    }
  }
}
@media (max-width:1212px){
  .bloqueSegIndus{
    .industrial-security{
      ul{
        font-size: 42px;
      }
      button{
        font-size: 20px;
      }
    }
  }
}
@media (max-width:1148px){
  .bloqueSegIndus{
    .industrial-security{
      ul{
        font-size: 38px;
      }
      button{
        font-size: 19px;
      }
    }
  }
}
@media (max-width:1062px){
  .bloqueSegIndus{
    .industrial-security{
      ul{
        font-size: 35px;
        margin-left: 16%;
      }
      button{
        font-size: 17px;
        padding: 6px 14px;
        margin-top: 5%;
      }
    }
  }
}
@media (max-width:892px){
  .bloqueSegIndus{
    .industrial-security{
      ul{
        font-size: 30px;
      }
      button{
        font-size: 17px;
        padding: 6px 11px;
        margin-top: 5%;
      }
    }
  }
} 
@media (max-width:768px){
  .bloqueSegIndus{
    display: block;
    .industrial-security{
      ul{
        margin-top: 5%;
        margin-left: 8%;
        margin-bottom: 0;
        border-left: 11px solid $cSrv2;
        font-size: 48px;
        li{
          height:50px;
        }
      }
      button{
        display: none;
      }
    }
    .guard{
      text-align: center;
      img{
        width:60%;
      }
      .lil-button{
        display: block;
      }
    }
  }
} 
@media(max-width:540px){
  .bloqueSegIndus{
    .industrial-security{
      ul{
        font-size: 35px;
      }
    }
    .guard{
      .lil-button{
        button{
          font-size: 13px;
        }
      }
    }
  }
}
@media(max-width:402px){
  .bloqueSegIndus{
    .industrial-security{
      ul{
        font-size: 26px;
      }
    }
  }
}