  #uno{
    color:$cSrv2;
  }
  #dos{
    color:$cSrv1;
  }
   @mixin block($width:100%,$over:hidden,$height:auto,$back:#fff,$color:$cSrv1){
    width:$width;
    overflow: $over;
    height:$height;
    background: $back;
    color:$color;
  }
  .bloqueBlanco {
    @include block;
  }
  .bloqueAzul{
    @include block(100%,hidden,auto,$cSrv1,#fff);
  }
  .contenedor{
    max-width:1550px;
    display: inline-flex;
    width: 100%;
  }
  .bloqueTitulo{
    margin-top: 60px; 
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 9px;
  }
  .bloqueTituloLargo{
    width:100%;
    text-align:left;
    margin-top: 50px; 
    font-size: 290%;
    padding-left: 2%;
    font-family: 'Montserrat', sans-serif;
    border-left: 16px solid $cSrv2;
  }
  .bloqueTxt{
    width: 100%;
    padding-top: 2%;
    text-align:left;
    margin-left: 11%;
    font-size: 215%;
    margin-top: 60px;
    color:$cSrv1;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
  }
  .bloqueTxtCentro{
    width: 100%;
    font-size: 190%;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: $cSrv1;
  }
  .bloqueApp{
    @include block;
    max-width:1550px;
    display:grid;
    grid-template-columns: 6fr 5fr;
    width: 100%;
    height: auto;
  }
  .separator1{
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height:auto;
  }  
  .separator2{
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height:auto;
    display: block;
  }
  .icon-center{
    position: relative;
    z-index: 5;
    height: fit-content;
    text-align: center;
    width:100%;
    img{
      width: 36%;
      position: absolute;
      right:44%;
      margin-top: 15%;
    }
    img:last-child{
      right: 22%;
      margin-top: 28%;
      width:25%;
    }
    .back{
      width: 80%;
      position: absolute;
      margin: 0px;
      right:12%;
      top: 70px;
    }
  }
  .iconos-Pie{
    margin-top: 90%;
    position: relative;
    img{
      width: 30%;  
      margin-left: 42%;
      position: absolute;
    }
    img:last-child{
      margin-left:65%; 
    }
  }
  #lykse{
    width: 25%; 
    margin-top:4%; 
    margin-left: 50px;
  }    
  #seil{
    text-align: center;
    img{
      width:37%; 
      position: relative;
    }
  }    
  .bt-Azul{
    width:40%;
    font-size: 140%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background: $cSrv1;
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }  
  .bt-Azul:hover {
    background-color: #ffffff;
    color:#041E41;
    border: 1px solid $cSrv1;
  }
  .centrado{
    margin-top: 3%;
    text-align: center; 
  }
  
  #espacio1{
    height:50px;
  }
  #espacio2{
    height:150px;
  }
  #espacio3{
    margin-left: 18%;
    align-items: center; 
  }
  #texto11{
    color:$cSrv2;
    padding-left: 6%;
  }
  #espacio4{
    margin-top: 7%;
  }
  #espacio5{
    margin-top:3%;
    img{
      width:15%;
    }
  }

.app-images-m{
  display:none;
}

.app-test{
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #fff;
  width: 100%;
  .app-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    width: 100%;
    .app-text{
      width: 100%;
      .tituloApp{
        margin-top: 6%;
        text-align: left;
        margin-left: 13%;
        border-left: 15px solid $cSrv2;
        padding-left: 1%;
        font-size: 260%;
      }
      .bloqueTxt{
        width: 100%;
        padding-top: 2%;
        text-align:left;
        margin-left: 13%;
        font-size: 200%;
        margin-top: 5%;
        color:$cSrv1;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
      }
      .bt-Azul{
        width:40%;
        font-size: 140%;
        margin-top: 7%;
        padding: 8px 18px;
        font-weight: bold;
        color: #ffffff;
        border-radius: 5px;
        border: 1px solid #ffffff;
        background: $cSrv1;
        -webkit-transition: 300ms all;
        transition: 300ms all;
      }  
      .bt-Azul:hover {
        background-color: #ffffff;
        color:#041E41;
        border: 1px solid $cSrv1;
      }
      
    }
    .icon-bground{
      position: relative;
      width: 100%;
      height: 100%;
      .bck{
        top:17%;
        left: 10%;
        width: 75%;
        position:relative;
      }
      img{
        position: absolute;
        width: 32%;
        z-index: 5;
        top:27%;
        left: 20%;
      }
      img:last-child{
        width: 23%;
        top:41%;
        left: 50%;
      }
    }
  }
  .app-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .app-icon{
      margin-top: 5%;
      img{
        width:15%;
        margin-left: 6%;
      }
    }
    .app-download{
      text-align: right;
      margin-top: 7%;
      div{
        width: 100%;
        img{
          width:25%;
          margin-right: 3%;
          padding-top: 6%;
        }
        img:last-child{
          margin-right: 14%;
          width: 26%;
        }
      }
      
    }
  }
}
@media (max-width:1428px){
  
  
}
