.cWht{
    color:$cWht;
}
.blq2-txt-v{
    color: $cWht;
    width: 100%;
    text-align: center;
    font-size: 46px;
    letter-spacing: 1px;
    padding-top: 3%;
}

.blq2-video-v{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    margin-top: 5%;
    border: 1px solid $cWht;
    color: $cWht;
    font-size: 50px;
}

#izq{
    text-align: left;
}
#ligero-amarillo{
    font-weight: lighter;
    color:$cSrv2;
}
#ligero{
    font-weight: lighter;
}
#altura{
    height:640px;
}
@media(max-width:1096px){
    .blq2-txt-v{
        font-size: 38px;
    }
}
