.Lyk-comm-nav{
    width: $full;
    height: 40%;
    font-family: 'Montserrat', sans-serif;
    margin-left:3%;
    .Lyk-comm-list{
        display: flex;
        width: $full;
        height: $full;
        list-style: none;
        padding-left: 0%;      
        .Lyk-comm-item{
            width:auto;
            margin-left: 0%;
            margin-right: 70px;
            height: $full;
            .Lyk-comm-item-link{
                padding-left: 15px;
                padding-right: 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: $full;
                text-decoration: none;
                color: white;
                transition: all 250ms;
                letter-spacing: 2px;
                border-radius: 7px;
                text-align: center;
                
            }.Lyk-comm-item-link:hover{
                /*border: {
                    left: 4px solid $cSrv2;
                    bottom: 3px solid $cSrv2;
                }
                box-shadow: -1px 1px 5px $cSrv2, -1px 2px 3px $cSrv1, -1px 1px 3px $cSrv1;
                */
                color:$cSrv1;
                background: $cSrv2;
                font-weight: bold;
            }.Lyk-comm-item-link-logo{
                padding-left: 15px;
                padding-right: 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: $full;
                text-decoration: none;
                color: white;
                transition: all 250ms;
                letter-spacing: 2px;
                border-radius: 7px;
            }.Lyk-comm-item-link-logo:hover{
                color:$cSrv1;
                font-weight: bold;
            }
        }
    }
}

#logobarra{
    display: inline-flex;
    img{
        width:190px;
        padding-right: 10px;
    }
}
.nav{
    display: none;
    height: auto;
}
.sticky{
  width:100%;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color:#fff;
  text-align: center;
  padding: 10px 0;
  background: $cSrv1;
  display: none;
  margin: 0 0 30px;
}
header{
  padding: 0;
}
.mobike-menu{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1134px) {
    .nav{
        display: flex;
        justify-content: space-between;
        width:100%;
        max-width: 1134px;
        margin: 0 0;
    }
    .sticky{
      display:block;
    }
    .Lyk-comm-nav{
        display: none;
    }
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
      margin: 0 0;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: $cSrv1;
      position: fixed;
      top: 145px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
    .nav-menu-link{
      color: $cSrv2;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: $cSrv2;
    }
  
    .nav-toggle {
      display: block;
      padding: 0 60px;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 10px;
      background: $cSrv2;
      color:$cSrv1;
      border: none;
      border-radius: 9px;
      font-size: 17px;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
}

@media (max-width:946px){
  .sticky{
    font-size: 15px;
    margin: 0 0 15px;
  }
  .nav-toggle{
    font-size: 17px;
    height: 45px;
    padding: 0 30px;
  }
  .logo{
    height: auto;
    img{
      width: 140px;
    }
  }
}
@media(max-width:749px){
  .nav-toggle{
    font-size: 15px;
    padding: 0px 10px;
  }
}