html{
    box-sizing: border-box;
    background-color: #041E41;
}

ul{
    list-style: none;
    padding: none;
    margin: none;
}
span.rsultado{
    position: relative;
    width: 100%;
}
.resultado-enter{
    transition: .5s;
}
.resultado-enter .resultado-enter-active{
    transform: translateY(0%);
}
.resultado-exit{
    transform: translateY(0);
    transition: .5s;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.resultado-exit-active{
    opacity: 0;
    transform: translateY(-10%);
}

.cot-h{
    height: 110px;

}

.cot-h .cot-nav-h{
    border: 1px solid red;
    height: 110px;
    
}
.cot-h .cot-nav-h .cot-nav-list{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}

.cot-h .cot-nav-h .cot-nav-list li:last-child{
    margin-left: 50px;
}

.container{
    max-width: 660px;
    margin: 20px auto;
}

header{
    background-color: #26c6da;
    padding: 10px;
    font-weight: bold;
}

header h1{
    font-size: 2rem;
      margin: 0;
      font-family: 'Slabo 27px', serif;
      text-align: center;
}

.formulario{
    background-color: #fff;
    padding: 3rem;
}

.boton{
    background-color: #00838f;
    font-size: 16px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
    transition: background-color .3s ease;
    margin-top: 2rem;
}
.boton:hover{
    background-color: #26c6da;
    cursor: pointer;
}
.error{
    background-color: red;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.radio{
    margin: 0 1rem;
}

select{
    display: block;
    width: 100%;
    padding: 1rem;
    border: 1px solid #e1e1e1e1;
    -webkit-appearance: none;
}
label{
    flex: 0 0 100px;
}
.campo{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
.mensaje{
    background-color: rgb(127, 224, 237);
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

.divResultado{
    text-align: center;
    padding: .5rem;
    border: 1px solid #26c6da;
    background-color: rgb(127, 224, 237);
    margin-top: 1rem;
    position: relative;
}
.textoCotizacion{
    color: #00838f;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

#resumen{
    padding: 1rem;
    text-align: center;
    background-color: #00838f;
    color: #fff;
    margin-top: 1rem;
}